//- pairView.pug
doctype html
html
    head
        include includes/head.pug
    body
        include includes/nav.pug

        <!-- Main jumbotron -->
        div(class="jumbotron")
            div(class="container")
                h2 #{taskName} Question:
                p #{question}

        //- Display options

        div(class="container")

            div(class="row" style="width:130%; margin-left: -100px")
                div(class="panel panel-default")
                    div(class="panel-body")
                        pre(id="element-content-panel" style="height:530px; font-size:75%; overflow: hidden;")

            - var labelCount = labels.length
            - var labelIndex = 0
            while labelIndex < labelCount
                - var labelItem = labels[labelIndex]
                - labelIndex++


                div(class=" col-xs-6  text-center")
                    h4(class="btn btn-primary btn-lg selected-label ",style="width:235px;", labelindex=labelIndex, labelid=labelItem.labelId)
                        u= labelIndex
                        span . #{labelItem.labelText}


            //- Footer navigation
                div(class="row navbar-fixed-bottom")
                    div(class=".col-md-6")
                        ol(class="breadcrumb")
                            li(id="prevCrumb")
                            li(class="active") Current
                            li(id="prevCrumb")

            div(class="modal fade", id="loadingDialog", tabindex="-1" role="dialog")
                div(class="modal-dialog", role="document")
                    div(class="modal-content")
                        div(class="modal-header")
                            h4(class="modal-title") Please Wait...
                        div(class="modal-body text-center")
                            img(src="/static/imgs/spinner.gif")

        include includes/jsFooter.pug

        <!-- Script for running the pair viewport -->
        script(src="/static/js/labelview.js")